sudo: required
dist: trusty
language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"

cache:
  pip: true
  apt: true

env:
  global:
    - TEST_DB_SERVICE=1
    - TEST_WITH_EXTENSIONS=1
    - ODOO_INST_PATH=/tmp/odoo-inst
  matrix:
 
    - ODOO_VERSION="9.0"

    - ODOO_VERSION="10.0"
      TEST_SKIP_WORKFLOW=1

    - ODOO_VERSION="11.0"
      TEST_SKIP_WORKFLOW=1

install:
  - "wget -O /tmp/odoo-helper-install.bash https://raw.githubusercontent.com/katyukha/odoo-helper-scripts/master/install-system.bash"
  - "sudo bash /tmp/odoo-helper-install.bash"
  - "sudo odoo-helper install pre-requirements -y"
  - "sudo odoo-helper postgres user-create odoo odoo"
  - "odoo-helper install sys-deps -y ${ODOO_VERSION}"
  - "odoo-install -i $ODOO_INST_PATH --odoo-version ${ODOO_VERSION}"

  # Normal install
  - "pip install --upgrade 'coveralls>=1.1' 'ipython[notebook]>=4' 'setuptools>=18' pip pbr 'anyfield>=0.1.2' 'flake8>=3'"
  - "python setup.py develop"

before_script:
  # Start odoo instance
  - "CDIR42=$(pwd) && cd $ODOO_INST_PATH && odoo-helper start && cd $CDIR42"
  - "sleep 3"

script:
  - "flake8 openerp_proxy --count --statistics;"  # test code style
  - "openerp_proxy <<< 'print(42);exit';"  # Test that it runs via 'openerp_proxy' command
  - "bash ./scripts/ci_run_tests.bash"

after_success:
  - coveralls
